<nav class="navbar navbar-dark bg-dark navbar navbar-expand-sm ">

    <button class="btn btn-link text-white nav-link" (click)="logout()">GO BACK</button>
    </nav>
<div class="container register-form">
    <div class="form">
        <div class="note">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="employee.role" value="employer" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
             .. employer
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="employee.role" value="employee" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
             .. employee
            </label>
          </div>

        <div class="form-content" >
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name *" value="" [(ngModel)]="employee.name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="email *" value="" [(ngModel)]="employee.email" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" value="" [(ngModel)]="employee.password" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Confirm Password *" value="" [(ngModel)]="checkPassword"/>
                    </div>
                </div>
            </div>
            <button  type="button" class="btnSubmit" (click)="onSubmit()">Submit</button>
        </div>
    </div>
</div>
