<nav class="navbar navbar-dark bg-dark">
  <button class="btn btn-link text-white" (click)="register()">Register Here</button>
</nav>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <br><br><br>
     

      
  
      <!-- Login Form -->
      <form (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="employee.email"> 
         <!--private consultancy firm-->
        <input type="password" id="password" class="fadeIn third " name="login" placeholder="password" [(ngModel)]="employee.password">
        <input type="submit" class="fadeIn fourth" value="Log In" id="my-btn">
      </form>
  
    </div>
  </div>
  <!--
    new form
  -->

 
   